@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
@import '../../scss/themes.scss';

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
}
