@import './variables.scss';

// @mixin theme($theme) {
//   @if $theme == 'light' {
//     background-color: $light-background-color;
//     color: $light-text-color;
//   } @else if $theme == 'dark' {
//     background-color: $dark-background-color;
//     color: $dark-text-color;
//   }
// }
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
